<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_app_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_app_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.POSAmplang">
        <activity
            android:name=".activities.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.transaksi.KasirActivity"
            android:exported="false" />
        <activity
            android:name=".activities.auth.LoginGagalActivity"
            android:exported="true" />
        <activity
            android:name=".activities.auth.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".activities.auth.LupaSandiActivity"
            android:exported="true" />
        <activity
            android:name=".activities.auth.AturSandiActivity"
            android:exported="true" />
        <activity
            android:name=".activities.auth.SandiBerhasilActivity"
            android:exported="true" />
        <activity
            android:name=".activities.auth.DaftarBerhasilActivity"
            android:exported="true" />
        <activity
            android:name=".activities.auth.VerifikasiTerkirimActivity"
            android:exported="true" />
        <activity
            android:name=".activities.dashboard.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activities.supplier.SupplierListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.laporan.LaporanActivity"
            android:exported="false" />
        <activity
            android:name=".activities.pengaturan.PengaturanActivity"
            android:exported="false" />
        <activity
            android:name=".activities.produk.ProdukListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.produk.TambahProdukActivity"
            android:exported="false" />
        <activity
            android:name=".activities.produk.EditProdukActivity"
            android:exported="false"
            />
    </application>

</manifest>